<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.gentleman.i7-handshake</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/Users/amonbaumgartner/Gentleman/i7_auto_handshake_setup.sh</string>
        <string>start</string>
    </array>
    
    <key>WorkingDirectory</key>
    <string>/Users/amonbaumgartner/Gentleman</string>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>
    
    <key>StandardOutPath</key>
    <string>/Users/amonbaumgartner/Gentleman/i7_handshake_daemon.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/amonbaumgartner/Gentleman/i7_handshake_daemon_error.log</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>HOME</key>
        <string>/Users/amonbaumgartner</string>
    </dict>
    
    <key>ProcessType</key>
    <string>Background</string>
    
    <key>ThrottleInterval</key>
    <integer>10</integer>
</dict>
</plist> 